# Stuff from the master branch
*.pyc
translate/
translate_toolkit.egg-info/
docs/
dist/
MANIFEST
MANIFEST.in

# LESS
assets/less/bootstrap

# Jekyll-generated
_site

# ViM-generated
*.swn
*.swo
*.swp
*~
