# /
/LICENSE

# /docs/
/docs/_build/

# Python
*.py[cod]
*.egg-info

# vim
.*.swp
*~

# distutils
/build/
/dist/
MANIFEST
MANIFEST.in

# other
tests/xliff_conformance/af-pootle.xlf

# Requirements generation
.reqs
