# /
/LICENSE

# /docs/
/docs/_build/

# Python
*.py[cod]
*.egg-info

# pytest
.cache/

# vim
.*.swp
*~

# distutils
/build/
/dist/
MANIFEST
MANIFEST.in

# other
tests/xliff_conformance/af-pootle.xlf

# Requirements generation
.reqs
requirements/min-versions.txt

# Coverage
.coverage*

##############################
# translate/ specific excludes
##############################

translate/storage/properties.class

# Roundtrip noise
translate/convert/diff_*.diff
translate/convert/mozilla-l10n/
translate/convert/rewritten-po/
translate/convert/templates-recreated/

# IDE project/temporary files:
.idea/*