# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-yaml
  - id: check-merge-conflict
  - id: check-json
  - id: check-toml
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.6
  hooks:
  - id: ruff-check
    args: [--fix, --exit-non-zero-on-fix]
  - id: ruff-format
- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.35.0
  hooks:
  - id: check-github-workflows
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.15.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix, --indent, '2']
- repo: https://github.com/pappasam/toml-sort
  rev: v0.24.3
  hooks:
  - id: toml-sort-fix
- repo: https://github.com/abravalheri/validate-pyproject
  rev: v0.24.1
  hooks:
  - id: validate-pyproject
- repo: https://github.com/sphinx-contrib/sphinx-lint
  rev: v1.0.2
  hooks:
  - id: sphinx-lint
- repo: https://github.com/zizmorcore/zizmor-pre-commit
  rev: v1.16.3
  hooks:
  - id: zizmor
- repo: https://github.com/crate-ci/typos
  rev: v1
  hooks:
  - id: typos
    args: []
    require_serial: true
    pass_filenames: false
