name: Docs

on:
  push:
    paths:
      - "Makefile"
      - ".github/workflows/docs.yml"
      - "docs/**"
      - "requirements/**"
      - "tests/cli/example_test.sh"
    branches-ignore:
      - "dependabot/**"
  pull_request:
    paths:
      - "Makefile"
      - ".github/workflows/docs.yml"
      - "docs/**"
      - "requirements/**"
      - "tests/cli/example_test.sh"

jobs:
  docs:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - uses: actions/cache@v2.1.1
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-lint-${{ hashFiles('requirements/*.txt') }}
      - name: Setup Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Install apt dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libgettextpo-dev
      - name: Install dependencies
        run: |
          pip install --upgrade pip wheel
          pip install -r requirements/dev.txt
      - name: Build docs
        run: make docs
