name: Pre-commit check

on:
  push:
    branches-ignore:
      - "dependabot/**"
  pull_request:

jobs:
  pre-commit:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2.1.1
        with:
          path: |
            ~/.cache/pip
            ~/.cache/pre-commit
          key: ${{ runner.os }}-pre-commit-${{ hashFiles('requirements/*.txt') }}-${{ hashFiles('.pre-commit-config.yaml') }}
      - name: Setup Python
        uses: actions/setup-python@v2.1.3
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip wheel
          pip install -r requirements/dev.txt
      - name: pre-commit
        run: pre-commit run --all

  pydocstyle:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2.1.1
        with:
          path: |
            ~/.cache/pip
            ~/.cache/pre-commit
          key: ${{ runner.os }}-pre-commit-${{ hashFiles('requirements/*.txt') }}-${{ hashFiles('.pre-commit-config.yaml') }}
      - name: Setup Python
        uses: actions/setup-python@v2.1.3
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip wheel
          pip install -r requirements/dev.txt
      - name: Run pydocstyle
        run: |
          echo "::add-matcher::.github/matchers/flake8.json"
          pre-commit run --all pydocstyle
          echo "::remove-matcher owner=flake8::"

  pycodestyle:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2.1.1
        with:
          path: |
            ~/.cache/pip
            ~/.cache/pre-commit
          key: ${{ runner.os }}-pre-commit-${{ hashFiles('requirements/*.txt') }}-${{ hashFiles('.pre-commit-config.yaml') }}
      - name: Setup Python
        uses: actions/setup-python@v2.1.3
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip wheel
          pip install -r requirements/dev.txt
      - name: Run pycodestyle
        run: |
          echo "::add-matcher::.github/matchers/flake8.json"
          pre-commit run --all pycodestyle
          echo "::remove-matcher owner=flake8::"

  flake8:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2.1.1
        with:
          path: |
            ~/.cache/pip
            ~/.cache/pre-commit
          key: ${{ runner.os }}-pre-commit-${{ hashFiles('requirements/*.txt') }}-${{ hashFiles('.pre-commit-config.yaml') }}
      - name: Setup Python
        uses: actions/setup-python@v2.1.3
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip wheel
          pip install -r requirements/dev.txt
      - name: Run flake8
        run: |
          echo "::add-matcher::.github/matchers/flake8.json"
          pre-commit run --all flake8
          echo "::remove-matcher owner=flake8::"
