# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

name: pylint check

on:
  push:
    branches-ignore:
    - renovate/**
  pull_request:

permissions:
  contents: read

jobs:
  pylint:
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false
    - name: Setup Python
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      id: setup_python
      with:
        python-version: '3.14'
    - uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
      with:
        save-cache: ${{ github.ref == 'refs/heads/master' }}
        cache-suffix: ${{ steps.setup_python.outputs.python-version }}
        version: 0.9.26
    - name: Install deps
      run: uv sync --all-extras --group pylint
    - name: Run pylint
      run: uv run --no-sync pylint --output-format=github translate/ tests/
