name: Distribution

on:
  push:
    branches-ignore:
    - renovate/**
    tags:
    - '*'
  pull_request:

permissions:
  contents: read

jobs:
  setup:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false
    - name: Set up Python
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: 3.14
    - uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4
      with:
        enable-cache: false
    - name: Install apt dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libgettextpo-dev
    - name: Build pakcage
      run: uv build
    - name: Twine check
      run: uvx twine check dist/*
    - name: pydistcheck
      run: uvx pydistcheck --inspect dist/*
    - name: pyroma
      run: uvx pyroma dist/*.tar.gz
    - name: check-wheel-contents
      run: uvx check-wheel-contents dist/*.whl
    - name: check-manifest
      run: uvx check-manifest -v
    - name: Install test (source)
      run: |
        uv venv test-ttk-release-src
        . ./test-ttk-release-src/bin/activate
        uv pip install dist/translate_toolkit-*.tar.gz
        moz2po --help
        python ./test-ttk-release-src/lib/python*/site-packages/translate/lang/identify.py README.rst
    - name: Install test (wheel)
      run: |
        uv venv test-ttk-release-whl
        . ./test-ttk-release-whl/bin/activate
        uv pip install dist/translate_toolkit*.whl
        moz2po --help
        python ./test-ttk-release-whl/lib/python*/site-packages/translate/lang/identify.py README.rst
    - uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
      with:
        name: setup
    - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        path: ./dist/*

  pypi-publish:
    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/')
    needs:
    - setup
    runs-on: ubuntu-24.04
    permissions:
      # this permission is mandatory for trusted publishing
      id-token: write
    steps:
    - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
      with:
        # unpacks default artifact into dist/
        # if `name: artifact` is omitted, the action will create extra parent dir
        name: artifact
        path: dist

    - name: Publish package distributions to PyPI
      uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0

  github-publish:
    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/')
    needs:
    - setup
    runs-on: ubuntu-24.04
    permissions:
      # this permission is mandatory for creating a release
      contents: write
    steps:
    - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
      with:
        # unpacks default artifact into dist/
        # if `name: artifact` is omitted, the action will create extra parent dir
        name: artifact
        path: dist
    - uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # v1.20.0
      with:
        artifacts: dist/*
