name: Tests

on:
  push:
    branches-ignore:
    - renovate/**
  pull_request:

permissions:
  contents: read

jobs:
  test:

    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        requirements: [latest]
        python-version:
        - '3.11'
        - '3.12'
        - '3.13'
        - '3.14'
        os:
        - ubuntu-latest
        - windows-latest
        - macos-latest
        include:
        - requirements: minimal
          python-version: '3.11'
          os: ubuntu-latest

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
      id: setup_python
      with:
        allow-prereleases: true
        python-version: ${{ matrix.python-version }}
    - uses: astral-sh/setup-uv@803947b9bd8e9f986429fa0c5a41c367cd732b41 # v7.2.1
      with:
        cache-suffix: ${{ steps.setup_python.outputs.python-version }}
    - name: Install apt dependencies
      if: matrix.os == 'ubuntu-latest'
      run: |
        sudo apt-get update
        sudo apt-get install -y libgettextpo-dev libxml2-dev libxmlsec1-dev gettext hunspell-af
    - name: Install Windows dependencies
      if: matrix.os == 'windows-latest'
      run: |
        nuget install Gettext.Tools -Version 0.22.4 -OutputDirectory c:\nuget;
        Add-Content $env:GITHUB_PATH "C:\nuget\Gettext.Tools.0.22.4\tools\bin"
    - name: Minimalize deps
      if: matrix.requirements == 'minimal'
      run: sed -i '/^ *"/ s/>=/==/' pyproject.toml
    - name: Install pip dependencies
      run: uv sync --all-extras --dev
    - name: pytest
      run: make test
    - name: test-functional
      if: matrix.os == 'ubuntu-latest'
      env:
        PYTHON_ARGS: -m coverage run --append --source ${{ github.workspace }}/translate
        COVERAGE_FILE: ${{ github.workspace }}/.coverage
      run: |
        source .venv/bin/activate
        make test-functional
    - name: Coverage
      run: uv run coverage xml
    - uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
      with:
        name: ${{ runner.os }}, Python ${{ matrix.python-version }}, ${{ matrix.requirements }}
