name: Tests

on:
  push:
    branches-ignore:
    - dependabot/**
    - deepsource**
  pull_request:

permissions:
  contents: read

jobs:
  test:

    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        requirements: [latest]
        python-version:
        - '3.10'
        - '3.11'
        - '3.12'
        - '3.13'
        - '3.14'
        os:
        - ubuntu-latest
        - windows-latest
        - macos-latest
        include:
        - requirements: minimal
          python-version: '3.10'
          os: ubuntu-latest

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        allow-prereleases: true
        python-version: ${{ matrix.python-version }}
    - uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4
      with:
        cache-suffix: ${{ matrix.python-version }}
    - name: Install apt dependencies
      if: matrix.os == 'ubuntu-latest'
      run: |
        sudo apt-get update
        sudo apt-get install -y libgettextpo-dev libxml2-dev libxmlsec1-dev gettext hunspell-af
    - name: Install Windows dependencies
      if: matrix.os == 'windows-latest'
      run: |
        nuget install Gettext.Tools -Version 0.22.4 -OutputDirectory c:\nuget;
        Add-Content $env:GITHUB_PATH "C:\nuget\Gettext.Tools.0.22.4\tools\bin"
    - name: Minimalize deps
      if: matrix.requirements == 'minimal'
      run: sed -i '/^ *"/ s/>=/==/' pyproject.toml
    - name: Install pip dependencies
      run: uv sync --all-extras --dev
    - name: pytest
      run: make test
    - name: test-functional
      if: matrix.os == 'ubuntu-latest'
      env:
        PYTHON_ARGS: -m coverage run --append --source ${{ github.workspace }}/translate
        COVERAGE_FILE: ${{ github.workspace }}/.coverage
      run: |
        source .venv/bin/activate
        make test-functional
    - name: Coverage
      run: uv run coverage xml
    - uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
      with:
        name: ${{ runner.os }}, Python ${{ matrix.python-version }}, ${{ matrix.requirements }}
