name: Qemu tests

on:
  push:
    branches-ignore:
    - renovate/**
  pull_request:

permissions:
  contents: read


jobs:
  build_job:
    permissions:
      # Needed for Docker container caching
      packages: write
    runs-on: ubuntu-24.04
    name: test (${{ matrix.arch }}, ${{ matrix.distro }})

    # Run steps on a matrix of 4 arch/distro combinations
    strategy:
      fail-fast: false
      matrix:
        include:
        - arch: s390x
          distro: ubuntu24.04
        - arch: ppc64le
          distro: ubuntu24.04
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd   # v6.0.2
      with:
        persist-credentials: false
    - uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
      with:
        cache-local-path: /tmp/setup-uv-cache
        cache-suffix: ${{ matrix.arch }}-${{ matrix.distro }}
        prune-cache: false
    - uses: uraimo/run-on-arch-action@d94c13912ea685de38fccc1109385b83fd79427d   # v3.0.1
      name: Test
      with:
        arch: ${{ matrix.arch }}
        distro: ${{ matrix.distro }}

          # Not required, but speeds up builds
        githubToken: ${{ github.token }}

        dockerRunArgs: |
          --volume "/tmp/setup-uv-cache:/tmp/setup-uv-cache"
          --tty=false

        install: |
          apt-get update -q -y
          apt-get install -q -y libgettextpo-dev libxml2-dev libxmlsec1-dev gettext hunspell-af python3-dev gcc g++ make
          curl -LsSf https://astral.sh/uv/install.sh | env UV_INSTALL_DIR=/usr/local/bin sh

        run: |
          export UV_CACHE_DIR=/tmp/setup-uv-cache
          uv sync --group test --all-extras --no-dev
          source .venv/bin/activate
          pytest --cov=. -r EfsxX
          make test-functional
          uv cache prune --ci
